*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  font-family: 'Outfit', sans-serif;;
  padding: 0;}

body {
  
  background-color: $light-gray;
}

img{
    max-width: 280px;
}